{% include "header.html" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Daftar Makanan</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Makanan</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column mb-3">
                <h5 class="card-title font-weight-bold mb-2">List Menu Makanan</h5>
                <a href="/tbhmakan" class="btn btn-primary" style="width: 150px"><i class="fas fa-plus"></i> Tambah Menu</a>
              </div>
              <table class="table table-bordered text-center">
                <tr>
                  <th>No</th>
                  <th>Gambar</th>
                  <th>Nama Menu</th>
                  <th>Harga</th>
                  <th>Deskripsi</th>
                  <th>Aksi</th>
                </tr>
                {% for item in makanan %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><img src="../static/assets/img/makanan/{{item.gambar}}" style="width: 150px; height: 100px; object-fit: cover" /></td>
                  <td>{{ item.nama }}</td>
                  <td>Rp. {{ item.harga }}</td>
                  <td>{{ item.deskripsi }}</td>
                  <td class="text-center">
                    <span
                      ><a href="/editmakan/{{item._id}}" class="btn btn-warning mr-2"><i class="fas fa-edit"></i></a><a href="/hapusmakan/{{item._id}}" class="btn btn-danger"><i class="fas fa-trash"></i></a
                    ></span>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>

          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% include "footer.html" %}
